<h2>Contact Us</h2>

<h3>Quiz Hour Inc</h3>
<p>
  Mail: contact@quizhour.com <br>
  Tel: +254 9286095063 <br>
  Web: www.quizhour.com <br>
  HQ: Biazna Plaza,218-Murgo drive. <br>
  Nairobi,Kenya <br>
</p>
