<div class="contact">
<h2>Contact Us</h2>

<h3>KNoW Hour Inc</h3>
<p>
  Mail: contact@knowhour.com <br>
  Tel: +254 9286095063 <br>
  Web: www.knowhour.com <br>
  HQ: Biazna Plaza,218-Murgo drive. <br>
  Nairobi,Kenya <br>
</p>
</div>
