
<h1>Questions and Answers</h1>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    Be ready to interact with this amazing app. Be prepared with potential questions and of course answers too.
      {{#each model as |question|}}
        {{question-tile question=question}}

      {{/each}}


    </div>
    <div class="col-md-8">


    </div>
  </div>

</div>
<hr>


{{#link-to 'about'}}About QA{{/link-to}}
